/* CSS do Darlan*/

ion-icon
{
    cursor: pointer;
}

*
{
    box-sizing: border-box;
}

.create-quizz-window
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 140px;
}

.quizz-create-input
{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #727272;
    padding-left: 23px;
    padding-right: 23px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 564px;
    height: 46px;
    resize: none;
    transition: all 300ms ease-in;
}

.quizz-create-input::placeholder
{
    color: #BABABA;
}

.create-quizz-first-step,
.create-quizz-third-step,
.create-quizz-second-step,
.create-quizz-fourth-step
{
    width: 600px;
}

.create-quizz-first-step,
.create-quizz-second-step,
.create-quizz-third-step,
.create-quizz-fourth-step
{
    margin-bottom: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-info-box,
.levels-box.level-open,
.question-box.question-open,
.question-box.question-closed
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.question-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    gap: 9px;
    margin-top: 12px;
}

.create-quizz-first-step h1,
.create-quizz-second-step h1,
.create-quizz-third-step h1,
.create-quizz-fourth-step h1
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: black;
    margin-top: 0;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

.basic-info-box
{
    width: 100%;
    height: auto;
    align-items: center;
    gap: 9px;
}

.basic-info-box .quizz-title-input
{
    margin-top: 21px;
}


.basic-info-box .quizz-levels-amount-input
{
    margin-bottom: 24px;
}



.input-level-description-area{
    padding: 0;
}

.input-level-description-area::placeholder
{
    padding-left: 20px;
    padding-top: 13px;
}

.proceed-create-questions-btn{
    width: 368px;
    height: 54px;
    margin-top: 85px;
    cursor: pointer;
}

.proceed-create-levels-btn{
    width: 354px;
    height: 54px;
    margin-top: 81px;
}

.finish-quizz-creation-btn{
    width: 324px;
    height: 54px;
    margin-top: 79px;
    cursor: pointer;
}

.finalize-creation-quizz-acess-btn,
.finalize-creation-quizz-return-btn{
    width: 220px;
    height: 44px;
    cursor: pointer;
}

.finalize-creation-quizz-acess-btn
{
    margin-top: 45px;
}

.finalize-creation-quizz-return-btn
{
    margin-top: 9px;
}

.proceed-create-questions-btn,
.finish-quizz-creation-btn,
.finalize-creation-quizz-acess-btn,
.proceed-create-levels-btn
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    border: 0;
    background: #EC362D;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

/*Second step window      CRIAR PERGUNTAS   */

.create-quizz-second-step .create-quizz-subtitle,
.create-quizz-third-step .create-quizz-subtitle
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.question-box.question-open
{
    width:600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.question-box.question-closed
{
    width:600px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.question-box.question-closed .create-quizz-subtitle,
.levels-box.level-closed .create-quizz-subtitle
{
    margin-top: 0;
    padding-left: 17px;
}

.question-box.question-closed ion-icon,
.levels-box.level-closed ion-icon
{
    padding-right: 17px;
    font-size: 26px;
}

.input-wrong-questions-box1,
.input-wrong-questions-box2,
.input-wrong-questions-box3,
.correct-answer,
.question,
.input-level-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-wrong-questions-box2,
.input-wrong-questions-box3
{
    margin-top: 30px;
}

.input-wrong-questions-box3
{
    margin-bottom: 27px;
}
.question-box.question-open .create-quizz-subtitle,
.levels-box.level-open .create-quizz-subtitle
{
    padding-left: 17px;
}

.question-box .create-quizz-subtitle,
.levels-box.level-open .create-quizz-subtitle
{
    margin-top: 28px;
}

.levels-box.level-open
{
    height: auto;
    width: 600px;
}

.levels-box.level-closed
{
    height: 74px;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}

.input-level-box
{
    margin-top: 12px;
    margin-bottom: 28px;
}

.final-quizz-image-box
{
    position: relative;
    width: 500px;
    height: 266px;
    max-width: 500px;
    max-height: 266px;
    transition: all 200ms ease-in;
    cursor: pointer;
}



.final-quizz-image-box:hover .image-overlay-box img
{
    opacity: 50%;
}

.image-overlay-box{
    height: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.finalize-creation-quizz-image{
    width: 100%;
    height: 100%;

    border-radius: 5px;
    z-index: 1;
    
    object-fit: cover;
    transition: all 200ms ease-in;
}

.image-overlay-gradient{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.finalize-creation-quizz-title{
    position: absolute;
    bottom: 20px;
    left: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    z-index: 3;
    transition: all 200ms ease-in;
}

.finalize-creation-quizz-return-btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    border: 0;
    border-radius: 15px;
    color: rgba(129, 129, 129, 1);
    background-color: white;
    cursor: pointer;
    transition: all 200ms ease-in;
}

@media (max-width: 1100px)
{
    .final-quizz-image-box
    {
        width: 95%;
        max-width: 500px;
        max-height: 266px;
    }

    .finalize-creation-quizz-acess-btn
    {
        margin-top: 27px;
    }

    .create-quizz-first-step,
    .create-quizz-second-step,
    .create-quizz-third-step,
    .create-quizz-fourth-step,
    .question-box1.question-open,
    .question-box2.question-open,
    .question-box3.question-open,
    .question-box1.question-closed,
    .question-box2.question-closed,
    .question-box3.question-closed,
    .question-fields,
    .levels-box.level-open,
    .levels-box.level-closed
    {
        width: 100%;
        max-width: 600px;
    }

    .quizz-create-input
    {
        width: 95%;
    }

    .input-level-description-area{
        height: 177px;
        box-sizing: border-box;
    }
    
    body
    {
        width: 100%;
    }
}
