/* CSS do Brendo*/
* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-All-Quizzes-Window{

    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.title-and-quizzes{

    display: flex; 
    justify-content: center;
    flex-direction: column;  
    width: 1040px;
    height: 100%;

}

.create-quizz-area {
    width: 1040px;
    height: 100%;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-quizz-area h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
    width: 250px;
    height: 107px;
    background-color: #FAFAFA;
}

.create-quizz-area button {
    background-color: #FAFAFA;
    height: 40px;
    width: 151px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    margin-bottom: 33px;
    cursor: pointer;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;


}

.title-list-quizzes {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items:left;
    text-align: left;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 15px;
    position: relative;

}

.quizz-area {
    width: 340px;
    height: 181px;
}

.image-inside-box{
    width: 100%;
    height: 100%;
    position: relative;
}

.quizz-img{
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    height: auto;
    object-fit: cover;
}

.image-inside-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.747) 65.62%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.image-inside-box p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    bottom: 7px;
    left: 18px;
    color: #FFFFFF;
}


.quizz-selected-area{
    width: 1051px;
    height: 260px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.title-selected-quizzes{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}


@media (max-width: 1100px) {

    ul{
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;

    }
    .create-quizz-area{
        width: 340px;
        height: 181px;
    }
    .title-and-quizzes{
        width: 340px;
        height: 100%;
    }
    .list-All-Quizzes-Window{
        width: 100%;
        height: 1550px;
    }
}