/* CSS do Augusto*/
.container-show-quiz{
    width:100%;
    height: auto;

    margin-top:69px;
}

.quiz-title{
    width:inherit;
    height:227px;

    display:flex;
    justify-content: center;
    align-items: center;
    
    position:relative;
    background-color: #000000;
}

.quiz-title p{
    font-family: Roboto;
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    overflow: hidden;           
}

.quiz-title img{
    position: absolute;
    object-fit: cover;
    width: inherit;
    height: inherit;
    
    opacity: 0.6;
}

.container-quiz-questions{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-question-box{
    width: 759px;
    height: 676px;
    
    margin-top:42px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-question{
    width: 688px;
    height: 138px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #434CA0;
    overflow: hidden;
}

.quiz-question p{
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
    overflow: hidden;
}

.quiz-answer-box{
    width: 688px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz-answer{
    width: 330px;
    height: 210px;

    margin-top:18px;
}

.quiz-answer img{
    width: inherit;
    height: 175px;
    object-fit: cover;
}

.quiz-answer-text{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
    overflow: hidden;
}

.quiz-answer-text p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;    
}

/*answer not-selected = dim images and text
answer selected = change text color*/

.answer-selected-correct p{ /*add to quiz-answer -> correct answer*/
    color: #009C22;
}

.answer-selected-incorrect p{ /*add to quiz-answer -> all incorrect-answers*/
    color: #FF4B4B;
}

.answer-not-selected{ /*add to quiz-answer*/
    opacity: 0.3;
}

/*finishing the quiz*/

.quiz-finishing-box{
    width: 759px;
    height: 430px;
    
    margin-top:42px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quiz-finishing-header{
    width: 727px;
    height: 99px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #EC362D;
}

.quiz-finishing-header p{
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
}

.quiz-finishing-content{
    width: 727px;
    height: 272px;

    margin-top: 18px;

    display: flex;
    justify-content: space-between;
}

.quiz-finishing-content img{
    width: 364px;
    height: 273px;
    object-fit: cover;
}

.quiz-finishing-content-text{
    width: 328px;
    height: 250px;
    overflow: hidden;
}

.quiz-finishing-content-text p{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
    line-break: anywhere;    
    overflow: hidden;
}

/*buttons at the end*/
.reset-quiz{
    width: 260px;
    height: 52px;

    background-color: #EC362D;
    border-radius: 15px;
    border: none;

    margin-top: 50px;

    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF5F4;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.reset-quiz:hover
{
    background-color: white;
    color: red;
    border: 1px dashed;
}

.back-home:hover
{
    color: red;
}

.back-home{
    width: 220px;
    height: 44px;

    background-color: #ffffff;
    border: none;

    margin-top: 15px;

    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #818181;
    margin-bottom: 85px;
    cursor: pointer;
    transition: all 100ms ease-in;
}

@media (max-width: 1100px) {
    .quiz-title{
        height:142px;
        margin-top:18px;
    }

    .quiz-title p{
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;  
    }

    .quiz-question-box{
        width: 100%;
        max-width: 688px;
        height: auto;
        margin-top: 25px;
    }

    .quiz-question-box *{
        flex: 0 0 auto;
    }

    .quiz-question{
        width: 90%;
        height: 89px;
        margin-top: 18px;
        margin-bottom: 13px;
    }

    .quiz-question p{
        font-size: 19px;
        line-height: 22px;     
    }

    .quiz-answer-box{
        width: 90%;
        height: auto;
        margin-bottom: 13px;
        
    }

    .quiz-answer{
        width: 45%;
        max-width:330px;
        height: auto;
        max-height: 210px;
        cursor: pointer;
    }
    
    .quiz-answer img{
        width: 100%;
        height: auto;
        max-height: 175px;
    }

    .quiz-answer-text{
        margin-top: 5px;
    }

    .quiz-answer-text p{
        font-size: 13px;
        line-height: 15px;
    }

    .quiz-finishing-box{
        width: 100%;
        height: auto;
        max-width: 559px;
        margin-top:24px;
    }
    
    .quiz-finishing-header{
        width: 90%;
        margin-top: 18px;
    }
    
    .quiz-finishing-header p{
        font-size: 19px;
        line-height: 22px;
    }
    
    .quiz-finishing-content{
        width: 90%;
        height: auto;
    
        margin-top: 9px;
        margin-bottom: 15px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow: hidden;
    }
    
    .quiz-finishing-content img{
        width: 100%;
        max-width: 500px;
        height: 255px;
        object-fit: cover;
    }
    
    .quiz-finishing-content-text{
        width: 100%;
        height: auto;
        height: 100%;
        overflow: hidden;
    }
    
    .quiz-finishing-content-text p{
        font-size: 17px;
        line-height: 20px;
        margin-top: 20px;
        line-break: auto;
        text-align: left;
        overflow: hidden;
        height: 100%;
    }

    .reset-quiz{
        width: 220px;
        height: 44px;

        font-size: 18px;
        line-height: 21px;
    }

    .back-home{
        font-size: 18px;
        line-height: 21px;
    }
}