/* CSS do Brendo*/
* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-All-Quizzes-Window{

    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.title-and-quizzes{

    display: flex; 
    justify-content: center;
    flex-direction: column;  
    width: 1040px;
    height: 100%;

}

.user-quizzes-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
    position: absolute;
    left: 0;
    top: 0;
}

.user-quizzes{
    width: 1050px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 120px;
    position: relative;
    gap: 15px;
}
.user-quizzes-items{
    width: 100%;   
    height: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    gap: 15px;
    margin-top: 30px;
}

.user-quizz{
    width: 340px;
    height: 181px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.user-quizz:hover .user-quizz-img
{
    opacity: 50%;
}

.user-quizz-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 200ms ease-in;
    object-fit: cover;
    z-index: 3;
}

.modify-buttons{
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 4;
}

.edit-quizz-btn{
    position: absolute;
    right: 7px;
    top: 20px;
    z-index: 5;
    color: white;
    font-size: 25px;
}

.delete-quizz-btn{
    position: absolute;
    right: 9px;
    top: 60px;
    z-index: 5;
    color: white;
    font-size: 25px;
}


.delete-quizz-btn:hover,
.edit-quizz-btn:hover
{
    color: #000000;
}


.user-quizz-img-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.user-image-inside-gradient
{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.747) 65.62%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.user-quizz p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    bottom: 19px;
    left: 15px;
    line-break: anywhere;
    width: 301px;
    z-index: 3;
}

.create-quizz-mini-btn{
    color: rgba(236, 54, 45, 1);
    font-size: 31px;
    position: absolute;
    top: -5px;
    left: 130px;
}

.create-quizz-mini-btn:hover
{
    color: rgb(126, 34, 29);
}

.user-quizzes-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
    position: absolute;
    left: 0;
    top: 0;
}

.user-quizzes{
    width: 1050px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 120px;
    position: relative;
    gap: 15px;
}
.user-quizzes-items{
    width: 100%;   
    height: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    gap: 15px;
    margin-top: 30px;
}

.user-quizz{
    width: 340px;
    height: 181px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.user-quizz:hover .user-quizz-img
{
    opacity: 50%;
}

.user-quizz-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 200ms ease-in;
    object-fit: cover;
    z-index: 3;
}

.modify-buttons{
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 4;
}

.edit-quizz-btn{
    position: absolute;
    right: 7px;
    top: 20px;
    z-index: 5;
    color: white;
    font-size: 25px;
}

.delete-quizz-btn{
    position: absolute;
    right: 9px;
    top: 60px;
    z-index: 5;
    color: white;
    font-size: 25px;
}


.delete-quizz-btn:hover,
.edit-quizz-btn:hover
{
    color: #000000;
}


.user-quizz-img-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.user-image-inside-gradient
{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.747) 65.62%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.user-quizz p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    bottom: 19px;
    left: 15px;
    line-break: anywhere;
    width: 301px;
    z-index: 3;
}

.create-quizz-mini-btn{
    color: rgba(236, 54, 45, 1);
    font-size: 31px;
    position: absolute;
    top: -5px;
    left: 130px;
}

.create-quizz-mini-btn:hover
{
    color: rgb(126, 34, 29);
}

.create-quizz-area {
    width: 1040px;
    height: 100%;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-quizz-area h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
    width: 250px;
    height: 107px;
    background-color: #FAFAFA;
}

.create-quizz-area button {
    background-color: #FAFAFA;
    height: 40px;
    width: 151px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    margin-bottom: 33px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 200ms ease-in;
}

.create-quizz-area button:hover
{
    background-color: red;
    color: white;
    border: 0;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;


}

.title-list-quizzes {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items:left;
    text-align: left;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 15px;
    position: relative;

    margin-bottom: 10px;
    position: absolute;
    left: 0;
    top: -35px;
}

.quizz-area {
    width: 340px;
    height: 181px;
    cursor: pointer;
}

.quizz-area:hover .image-inside-box img
{
    opacity: 50%;
}

.image-inside-box{
    width: 100%;
    height: 100%;
    position: relative;
}

.quizz-img{
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    height: auto;
    object-fit: cover;
}

.image-inside-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.747) 65.62%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.image-inside-box p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    bottom: 7px;
    left: 18px;
    color: #FFFFFF;
}

    width: 100%;
    line-break: anywhere;
    margin-right: 10px;
}

.quizz-selected-area{
    width: 1051px;
    height: 260px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.title-selected-quizzes{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}


@media (max-width: 1100px) {

    ul{
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;

    }
    .create-quizz-area{
        width: 340px;
        height: 181px;
    }
    .title-and-quizzes{
        width: 340px;
        height: 100%;
    }
    .list-All-Quizzes-Window{
        width: 100%;
        height: 1550px;
    }
}
